[defaults]
inventory           = inventory/hosts.yaml
roles_path          = roles
retry_files_enabled = false
stdout_callback     = ansible.builtin.default
result_format       = yaml
host_key_checking   = false

[ssh_connection]
pipelining          = true